manifest {
  name = 'Bakta'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-bakta'
  description = 'Annotate Genomes'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '0.0.2'
}

params {
  seedfile = ""
  project = "00_TEST"
  prefix = "00_test"
  outdir = "s3://genomics-workflow-core/Results/Bakta"
  bakta_db = "/mnt/efs/databases/Bakta/db/v5.0"
  pfam_db = "/mnt/efs/databases/HMMs/pfam/v36.0"

  // Original tested with:
  // docker_container_bakta = "public.ecr.aws/biocontainers/bakta:1.9.1--pyhdfd78af_0"
  
  // New candidates:
  docker_container_bakta = "public.ecr.aws/biocontainers/bakta:1.9.3--pyhdfd78af_0"
  // docker_container_bakta = "458432034220.dkr.ecr.us-west-2.amazonaws.com/bakta:1.9.3"
  
  docker_container_hmmer = "458432034220.dkr.ecr.us-west-2.amazonaws.com/hmmer:3.4"
  docker_container_aurumbio = "458432034220.dkr.ecr.us-west-2.amazonaws.com/aurumbio:latest"
}

includeConfig "$baseDir/conf/aws_batch.config"

process {
  // Retry and resource recommendations from:
  // https://github.com/oschwengers/bakta/issues/105#issuecomment-1307970562
  maxRetries = 3
	executor = 'awsbatch'
	queue = "default-maf-pipelines"
	cleanup = true
  cache = false
  
  withName: BAKTA
  {
    time = 8.hour
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
  }
  withName: PFAMS
  {
    time = 8.hour
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
  }
  withName: PARSE_PFAMS
  {
    time = 8.hour
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
  }
}

timeline {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/$params.prefix/01_execution_reports/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/$params.prefix/01_execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.outdir/$params.project/$params.prefix/01_execution_reports/pipeline_dag.html"
}