manifest {
  name = 'Bakta'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-bakta'
  description = 'Annotate Genomes'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '0.0.1'
}

params {
  seedfile = ""
  project = "00_TEST"
  prefix = "00_test"
  outdir = "s3://genomics-workflow-core/Results/Bakta"
  bakta_db = "/mnt/efs/databases/Bakta/v4.0/db"
  
  docker_container_bakta = "quay.io/biocontainers/bakta:1.6.1--pyhdfd78af_0"
}

includeConfig "$baseDir/conf/aws_batch.config"

process {
  maxRetries = 3
	executor = 'awsbatch'
	queue = "default-maf-pipelines"
	cleanup = true
  cache = false
  
  withName: BAKTA
  {
    time = '2h'
    cpus = 4
    memory = '16 GB'
    errorStrategy = 'retry'
  }
}

timeline {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/execution_reports/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.outdir/$params.project/execution_reports/pipeline_dag.html"
}