manifest {
  name = 'Bakta'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-bakta'
  description = 'Annotate Genomes'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '0.0.4'
}

// TODO: Add the ability to switch profiles from the command line. Make the AWS Batch profile the default.
// Until I get around doing this, Uncomment the following block to run the pipeline locally. and comment out the includeConfig line.

// Uncomment the following block for local testing
// profiles {
//      standard {
//         process.executor = 'local'
//         docker.enabled = true
//      }
// }
// Comment the following line for local testing
includeConfig "$projectDir/conf/aws_batch.config"

params {
  seedfile = ""
  project = "00_TEST"
  prefix = "00_test"
  outdir = "s3://genomics-workflow-core/Results/Bakta"
  bakta_db = "/mnt/efs/databases/Bakta/db/v5"
  pfam_db = "/mnt/efs/databases/HMMs/pfam/v36.0"
  
  // Docker Images:
  docker_container_bakta = "458432034220.dkr.ecr.us-west-2.amazonaws.com/bakta:1.9.4"
  docker_container_hmmer = "458432034220.dkr.ecr.us-west-2.amazonaws.com/hmmer:pyhmmer_0_10_15"
  
  // HMMsearch parsing parameters
  max_evalue = 1e-5
  min_domain_coverage = 0.4
  min_overlap = 50
}

includeConfig "$baseDir/conf/aws_batch.config"

process {
  // Retry and resource recommendations from:
  // https://github.com/oschwengers/bakta/issues/105#issuecomment-1307970562
  maxRetries = 3
	executor = "awsbatch"
	queue = "default-maf-pipelines"
	cleanup = true
  cache = false
  
  withName: BAKTA
  {
    time = 8.hour
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
  }
  withName: PFAMS
  {
    time = 8.hour
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    errorStrategy = { task.exitStatus in [104,134,137,138,139,140,143] ? 'retry' : 'finish' }
  }
}

timeline {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/$params.prefix/01_execution_reports/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/$params.prefix/01_execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.outdir/$params.project/$params.prefix/01_execution_reports/pipeline_dag.html"
}
